<div class="flex flex-col items-center">
  <div
    class="w-[600px] max-w-full flex flex-col items-center justify-center gap-8"
  >
    <app-todo-card
      class="w-full"
      [tasks]="tasks"
      [totalDoneTasks]="tasksDone"
    ></app-todo-card>

    <app-input class="w-full" (addTask)="addTask($event)"></app-input>
    <app-todo-item
      (deleteTask)="deleteTask($event)"
      (editTask)="editTask($event)"
      (changeDoneTodo)="changeDoneTodo($event)"
      *ngFor="let todo of tasks"
      [todo]="todo"
      class="w-full"
    ></app-todo-item>
  </div>
</div>
